<!DOCTYPE html>
<html lang="en">
{include file="public/header"}
<body>
<div id="wrapper">
    {include file="public/nav"}
    <div id="page-wrapper" style="min-height: 280px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">栏目分级</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <form action="paginate" method="post">
                    <label for="page">栏目分级</label>
                    <input type="text" class="form-control" name="paginate" id="page" style="width: 500px;">
                    <input type="submit" class="btn btn-primary" name="sub"  style="margin-top: 6px;padding: 10px 40px;">
                </form>
            </div>
        </div>
    </div>


</div>
{include file="public/js"}
</body>
</html>