<!DOCTYPE html>
<html lang="en">
{include file="public/header"}
<body>
<div id="wrapper">
    {include file="public/nav"}
    <div id="page-wrapper" style="min-height: 280px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{$title}</h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                {$article}
            </div>
        </div>
    </div>


</div>
{include file="public/js"}
</body>
</html>