<!DOCTYPE html>
<html lang="en">
{include file="public/header"}
<body>
<div id="wrapper">
    {include file="public/nav"}
    <div id="page-wrapper" style="min-height: 280px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">个人中心</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       个人中心
                    </div>
                    <div class="panel-body">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">

                                        <div class="panel-body">
                                            <img src="/uploads/20180510/bf0bf682426bde94a263ed1a0fe1695d.jpg">
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="alert alert-success alert-dismissable">
                                                姓名：{$name}
                                            </div>
                                            <div class="alert alert-info alert-dismissable">
                                                性别：{$sex}
                                            </div>
                                            <div class="alert alert-warning alert-dismissable">

                                            </div>
                                            <div class="alert alert-danger alert-dismissable">

                                            </div>
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                            </div>

                    </div>

                </div>

                </div>
            </div>

    </div>
</div>
</div>
{include file="public/js"}
</body>
</html>